# Виртуальное окружение
.venv/
venv/

# SQLite базы данных (старые и текущие)
*.db
instance/*.db
backups/*.db
server/instance/*.db

# Alembic миграции (если не нужны для Mongo)
migrations/
# Если всё же используешь Alembic для других целей — оставь

# Логи и временные файлы
*.log
*.tmp
*.pyc
__pycache__/

# Файлы экспорта
*.xlsx
server/instance/*.xlsx

# Файлы конфигураций
.env
*.ini

# Медиа-файлы (если хранятся локально, а не в Git)
static/uploads/
static/reports/
static/scans/
static/scanProject/

# Если случайно добавил изображения или временные ресурсы
*.png
*.jpg
*.jpeg
*.webp
# PyCharm
.idea/
*.iml
# macOS
.DS_Store
*.pyo
*.pyd

