# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.env

# macOS
.DS_Store

# Flask/Uploads
static/uploads/
static/scans/
static/reports/
server/instance/
*.xlsx

# PyCharm
.idea/
*.iml

server/instance/users.db

